.article {
    position: relative;
    width: 100px;
    height:100px;
    overflow: visible;
}
.article > .number-wrapper {
    position: absolute;
    top:8px;
    right:20px;
    padding:2px 8px 3px 8px;
    background-color: #000000;
    border-radius: 11px;
}

.body2{
    color: #ffffff;
}
